
:root{
  --fuente-base:"Inter";
  --color-fondo:#e6e4f1;
  --color-secundario: #8e49e8;
  --color-terciario: #BEADFA;
  --color-seccion:#FFF3DA;
}

* {
  margin: 0;
  padding:0;
}
body{
  background-color:var(--color-fondo);
  height: 100vh;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  padding: 2px 0 2px 0;
  height: 100%;
  width: 100%;

}
.logo {
  padding-top: 5%;
  margin-left: 4%;
  width: 9%;
}
footer{
margin-top: 20%;
}
.div_footer h4,h5,h6{
  
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 400;
  /* padding: 0.1rem; */
  margin-top: 1%;
 
}


#ingreso_texto {
  background:var(--color-fondo);
  display: flex;
  font-family: var(--fuente-base);
  font-weight: 400;
  font-size: 1.4rem;
  width: 90%;
  height: 90%;
  border: none;
  color: #7286d3;
  margin-top: 10%;
  margin-left: 30%; 
  margin-bottom: 10%;
  resize: none;
}
::placeholder {
  color: #7286d3;
}
#ingreso_texto {
  outline: none; /*propiedad que elimina el contorno*/
}
.texto_informativo{
  display: flex;
  align-items: center;
  font-family: var(--fuente-base);
  font-size: 0.6rem;
  font-weight: 400;
  margin-left:0.3% ;
 
}
.btnEncriptar{
  background-color: var(--color-secundario);
  border: 1px solid var(--color-terciario);
  border-radius: 14px;
  color: white;
  cursor: pointer;/*inca que se puede hacer click*/
  height: 50px;
  width: 300px;
  font-size: 1.1rem;
  font-family: var(--fuente-base);
}

.botones{
  display: flex;
  margin-top: 18px;
  margin-left: 30%;
}
.btnDesencriptar{
  /* display: flex; */
  background-color:var(--color-terciario);
  border: 1px solid var(--color-secundario);
  border-radius: 14px;
  color:#3d3264;
  cursor: pointer;/*inca que se puede hacer click*/
  height: 50px;
  width: 300px;
  font-size: 1.1rem;
  font-family: var(--fuente-base);
  margin-left: 2%;
}
.div_btncopiar{

  display: flex;
  margin-top: 18px;
  margin-left: 9%;
}

.btnCopiar{
 
  text-align: center;
  background-color:#BEADFA;
  border: 1px solid #d6c0f3;
  border-radius: 14px;
  color:#3d3264;
  cursor: pointer;/*indica que se puede hacer click*/
  height: 40px;
  width: 200px;
  font-size: 1.1rem;
  font-family: "Inter";
  /* gap: 8px; */
  margin-left: 2%;
}

.contenedor_desencriptar{

  display: flex;
  justify-content: center; 
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--color-seccion);
  border-radius:5%;
  color: #47589f;
  margin-left: 18%; 
  width: 25%;
  height: 80%;
  left: 50%;
  position: fixed;  
}

.img_busqueda{
  height: 40%;
  width:55%;
  top:15%;
  margin-bottom: 5%;
  margin-left: 20%;
  background-repeat: no-repeat; 
  
}
 

#texto_encriptado {
  background: var(--color-seccion);
  border: none;
  border-radius:5%;
  color: #7286d3;
  margin-left: 10%;
  margin-top: 2px;
  padding-left: 5%;
  width: 10%;
  height: 25%;
 

 }
#texto_encriptado{
   outline: none; 
} 
.instruccion{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  top:55%;
  font-size: 1rem;
  text-align: center
}


.parrafo{
  background:var(--color-seccion);
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  top:65%;
  font-size: 0.9rem;
  text-align: center;
}

@media(max-width:1200px){
   body{
    flex-direction: column;
  } 
  .div_footer h4,h5,h6{
    padding:0.2rem ;
  }
  .seccion_Ingreso{
    width:45%;
  }
  #ingreso_texto{
     margin-left: 40%;
  }
  .texto_informativo{
    margin-left: 8%;
  }
  .contenedor_desencriptar{
    width: 20%;
    height: 70%;
  }
  #texto_encriptado{
    height: 25%;
  }
   .btnCopiar{
    margin-bottom: 5%;
    margin-left: 2%;
   }
  .botones{
    margin-left: 40%;
    
  }
}
@media(max-width:480px){
  .logo{
    margin-top: 5%;
  }

main{
   flex-direction:column;
   /* margin-left: 0%;
   width: 100%;
   height: 100%;  */
}
footer{
margin-top: 50%;
margin-left: 6%;
}
.div_footer h4,h5,h6{
    padding:0.08rem ;
    font-size: 0.8rem;
    
  }
   .seccion_Ingreso{
    width:100%;
    margin-bottom: 10%;
  }
   #ingreso_texto{
     margin-left: 10%;
     margin-bottom: -6%;
     width: 100%;
     height: 8%;
     font-size: 1rem;
  }
  .texto_informativo{
     margin-left: -30%; 
    
  }
  .contenedor_desencriptar{
    position: relative;
    justify-content: left;
    margin-left:-87%;
    width: 85%;
    height: 9%;
  }
  #texto_encriptado{
    height: 10%;
    width: 15%;
  }
   .img_busqueda{
    display:none;
  } 
  .parrafo{
    font-size: 0.8rem;
  }
  .instruccion{
    font-size: 0.9rem;
  }
   .btnCopiar{
    margin-bottom: 5%;
    margin-left: 2%;
    font-size: rem;
   }
  .botones{
    margin-left:10%;
    width: 390px;
    height: 17px;
  } 
  .btnEncriptar{
    margin-right: 10%;
  }
}

@media(max-width:320px){
  main{
    width: 100%;
  }
  footer{
 
 margin-left: 10%;
 
  }
  .seccion_Ingreso{
    margin-bottom: 10%;
  }
  .contenedor_desencriptar{
    margin-top: 10%;
    width: 70%;
  }
  .botones{
    width: 360px;
  }
 .btnEncriptar{
  margin-right: -1%;
 }
}